.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0px 15px;
}

body {
    background-color: #cecece;
    min-width: 1500px;
}



.header-content {
    background-color: #ffff;
    margin-bottom: 0px;
}

.menu-left {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #91916C;
    padding-left: 160px;
    padding-top: 36px;
    padding-bottom: 85px;

}

.menu {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: #000000;
}

.nav-link:hover {
    color: #91916C;
    border-bottom: 3px solid #91916C;

}

.nav-list {
    font-family: "Nunito Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 36px;
    list-style-type: none;
    padding-right: 76px;

}

.nav {
    display: flex;
}

.content {
    display: flex;
}

.contetnt-right {
    padding-top: 96px;
    padding-left: 96px;
}

.content-left {
    max-height: 858px;
}

.text-title {
    font-family: "Playfair Display";
    font-size: 56px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #E5A985;
    max-width: 631px;
    max-height: 231px;
}

.slogan {
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #4A4747;
    max-width: 576px;
    max-height: 101px;
}

.product {
    background-color: #E1E1C2;
}

.text-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc {
    font-family: "Nunito Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #91916C;
    margin-top: 120px;
    margin-bottom: 2px;
}

.desc-services {
    margin-top: 82px;
}

.title-text {
    font-family:"Playfair Display";
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #65653E;
    max-width: 727px;
    max-height: 154px;
    margin-top: 52px;
    margin-bottom: 51px;

}

.text-bottom {
    display: flex;
    justify-content: center;
    font-family: "Nunito Sans";
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #333333;
    padding-bottom: 46px;
    /* padding-top: 45px; */
    margin: 0px;
}

.text-services {
    color: #E5A985;
    max-width: 997px;
}

.services {
    background-color: #fff;
    min-width: 1440px;

}

.cards {
    display: flex;
    justify-content: center;
}

.cards-pink {
    background-color: #FAE3D8;
    border-radius: 20px;
    margin-top: 76px;
    margin-bottom: 89px;
    /* max-width: 351px;
    max-height: 485px; */
    padding: 0px 0px 0px 0px;
    margin-right: 25px;
    margin-left: 25px;
}

.green-jpg {
    margin: 0px;
    padding: 0px;
    max-width: 387px;
    max-height: 394px;
    border-radius: 20px;
}

.pink-jpg {
    margin: 0px;
    border-radius: 20px;
    padding: 0px;
}

.cards-green {
    margin-top: 51px;
    margin-bottom: 64px;
    background-color: #91916C;
    border-radius: 20px;

}

.text-pink {
    font-family: "Nunito Sans";
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 241px;
    max-height: 99px;
    padding: 25px 54px 0px 56px;
    margin: 0px 0px 33px 0px;
}

.tp {
    max-width: 242px;
    max-height: 66px;
    

}

.text-green {
    font-family: "Nunito Sans";
    font-size: 27px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 274px;
    max-height: 79px;
    padding: 30px 5px 0px 57px;
    margin: 0;
}

.blog {
    background-color: #FFEFE7;
}

.text-blog {
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #795744;
}

.desc-blog {
    color: #BD957E;
    margin-top: 73px;
}

.small-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.small-card {
    display: flex;
    margin-bottom: 80px;
    margin-left: 70px;
}

.cards-text {
    font-family:"Nunito Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-align: left;
    max-width: 201px;
    max-height: 102px;
    padding-top: 26px;
    padding-left: 32px;
    color: #333333;

}

.cards-img {
    border-radius: 20px;
}

.desc-contact-us {
    margin-top: 85px;
    margin-bottom: 24px;
}

.img-lline-2 {
    margin-bottom: 109px;

}

.text-contact-us {
    font-family:" Playfair Display";
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.form-contact-us {
    background-color: #91916C;
    max-height: 833px;
}

.contact-us-left-img {
    padding-top: 95px;
    padding-left: 160px;
    padding-bottom: 0px;
    margin-bottom: 11px;
}

.foother-contact-us {
    min-height: 82px;
    /* max-width: 1530px; */
    min-width: 1440px;
    background-color: #fff;



}

.contact-us-all {
    display: flex;
}

.name-lastname {
    display: flex;

}

.form-inputs {
    padding-top: 167px;
    padding-left: 62px;
}

.form-input-name {
    padding-right: 10px;
    padding-bottom: 27px;
    min-width: 274px;
    min-height: 58px;



}

.form-input-lastname {
    min-width: 284px;
    min-height: 58px;
    padding-left: 25px;
    background: #E1E1C266;

    border: none;
    border-radius: 8px;
}

.form-input-lastname {
    outline-color: #ffffff;
}


.form-input-lastname::placeholder {
    color: #FFFFFF;
}

.form-input-email::placeholder {
    color: #FFFFFF;
}

.form-input-email {
    min-width: 608px;
    min-height: 58px;
    padding-left: 25px;
    background: #E1E1C266;
    border: none;
    border-radius: 8px;
    outline-color: #ffffff;

}

.form-button {
    min-width: 635px;
    min-height: 58px;
    background-color: #E5A985;
    border-radius: 8px;
    border: none;

}

.form-button p {
    font-family: "Nunito Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;

}

.swiper-placement {

    padding: 30px 6% 45px 0px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;

    /* width: 1120px; */


}

.swiper-slide {
    text-align: center;
    margin: 0 auto;

}

.cards-bottom {
    min-width: 800px;
    min-height: 452px;
    max-width: 800px;
    max-height: 452px;
    border-radius: 20px;
    margin: 0 50px;


}

.swiper-button-prev[aria-label="Previous slide"] {
    width: 58px;
    height: 58px;
    z-index: 100;
}

.swiper-button-prev[aria-label="Previous slide"]:after {
    content: '';
    background: url(../img/arrow.svg);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.swiper-button-next[aria-label="Next slide"]:after {
    content: '';
    background: url(../img/arrow.svg);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    rotate: 180deg;

}

.swiper-button-next[aria-label="Next slide"] {
    width: 58px;
    height: 58px;
    z-index: 100;
}

.swiper-plac {
    /* padding: 30px 16%  5px 16%; */
    margin: 0 auto;
    position: relative;
    max-width: 1120px ;
}